/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  font-family: "Poppins", sans-serif;
  background: #fff7fa;
  color: #3b2b2f;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

.header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header img {
  width: 70px;
  }

.divider {
  width: 1.5px;
  height: 30px;
  background: #e2cbe6;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav ul a {
  font-weight: 600;
  transition: 0.3s;
}

nav ul a:hover {
  color: #b86adf;
}

/* Mobile menu buttons */
.menu-open,
.menu-close {
  display: none;
}

main {
  text-align: center;
  padding-top: 60px;
}

main h1 {
  font-size: 3rem;
  font-weight: 800;
  color: #b86adf;
  margin-bottom: 15px;
}

main p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.cta-button {
  background: #ff99c8;
  padding: 15px 35px;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 50px;
  color: white;
  transition: 0.4s;
  display: inline-block;
}

.cta-button:hover {
  background: #b86adf;
}

.cat-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  position: relative;
}

.cat img {
  width: 320px;
  z-index: 2;
  position: relative;
}

.inner-circle,
.outer-circle {
  border-radius: 50%;
  position: absolute;
  animation: float 6s ease-in-out infinite;
}

.inner-circle {
  width: 260px;
  height: 260px;
  background: #ffe8f3;
  z-index: 1;
  animation-duration: 4s;
}

.outer-circle {
  width: 400px;
  height: 400px;
  border: 3px dashed #ffb3d9;
  animation-duration: 6s;
}

/* Floating animation */
@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

@media (max-width: 768px) {
  nav ul {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 240px;
    background: #fff;
    flex-direction: column;
    padding-top: 80px;
    gap: 25px;
    z-index: 10;
    transform: translateX(100%);
    transition: 0.4s ease;
  }

  nav ul.show {
    transform: translateX(0);
  }

  .menu-open {
    display: block;
  }

  .menu-close {
    display: block;
    padding-left: 15px;
      
  }

  .hide-mobile {
    display: none;
  }
}

